@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <img src="~/IMG/Nen.jpg" alt="Banner công ty" class="banner-img" />
</div>

<h2>Chào mừng đến với công ty chúng tôi!</h2>
<p>Đây là trang giới thiệu tổng quan về công ty.</p>
